.main {
    display: flex;
}

.page {
    flex-basis: 70%;
}

.leftNav {
    flex-basis: 25%;
}

.spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 43%;
    top: 20%;
}

.alert-clear {
    display: none;
}
